/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo principal */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da viewport */
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do Cabeçalho */
header {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.logo1 {
    max-width: 150px;
    height: auto;
}

/* Estilo da Navegação */
nav {
    background-color: #ff6600;
    color: #fff;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo na navegação */
}

.nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que os itens do menu fiquem centralizados */
    width: 100%; /* Ocupa toda a largura da navegação */
}

#navMenu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.logo2 {
    max-width: 40px; /* Tamanho ajustado da logo */
    height: auto;
    margin-right: 8px; /* Espaço entre a logo e o link "Home" */
}

#navMenu a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

#navMenu a:hover {
    transform: scale(1.1);
    color: #f0e68c;
}

/* Ajuste específico para a logo ao lado de "Home" */
.logo2-container {
    display: flex;
    align-items: center;
}



/* Main deve crescer para ocupar o espaço disponível */
main {
    flex: 1; /* Faz o main crescer para ocupar o espaço restante */
    padding: 20px;
    text-align: center;
}


.unidades-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.unidade-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.unidade-item h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #ff6600;
}

.unidade-item p {
    margin-bottom: 15px;
}

.unidade-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-detalhes {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #35424a;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn-detalhes:hover {
    background: #488;
}

/* Rodapé */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Empurra o rodapé para o fundo da página */
}
